@model dynamic

@{
    ViewBag.Title = "title";
}

<head runat="server">
    <title>Recipe</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <link rel="stylesheet" href="Site.css" />
    <script src="bootstrap.min.js"></script>
    <link rel="stylesheet" href="bootstrap-theme.min.css" />
</head>

<body>
    <div class="container-fluid">
        <h1><label for="username">ThisUsername</label></h1>
        </div>
    <h3>Breakfest</h3>
    <div class="breakfest">
        <div class="col-md-4" style="background-color:pink;">
            <div class="menu_photo">
                <img src="E:\aici\menufy\preafericitul_zeno.png" alt="This food photo" class="recipe_photo">
            </div>
            <div class="row">
                <div class="row-height">
                    <div class="text-center">
                        <label for="Reteta">Reteta</label>
                        <div class="modifica">
                            <p>text random text random text random text random text random text random text random text random text random text random text random text random text random text random text random</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="background-color:red;">
            <div class="menu_photo">
                <img src="E:\aici\menufy\preafericitul_zeno.png" alt="This food photo" class="recipe_photo">
            </div>
            <div class="row">
                <div class="row-height">
                    <div class="text-center">
                        <label for="Reteta">Reteta</label>
                        <div class="modifica">
                            <p>text random text random text random text random text random text random text random text random text random text random text random text random text random text random text random</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4" style="background-color:white;">
            <div class="menu_photo">
                <img src="E:\aici\menufy\preafericitul_zeno.png" alt="This food photo" class="recipe_photo">
            </div>
            <div class="row">
                <div class="row-height">
                    <div class="text-center">
                        <label for="Reteta">Reteta</label>
                        <div class="modifica">
                            <p>text random text random text random text random text random text random text random text random text random text random text random text random text random text random text random</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <h3>Lunch</h3>
    <div class="Lunch">
           
            <div class="col-md-4" style="background-color:pink;">
                <div class="menu_photo">
                    <img src="E:\aici\menufy\preafericitul_zeno.png" alt="This food photo" class="recipe_photo">
                </div>
                <div class="row">
                    <div class="row-height">
                        <div class="text-center">
                            <label for="Reteta">Reteta</label>
                            <div class="modifica">
                                <p>text random text random text random text random text random text random text random text random text random text random text random text random text random text random text random</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="background-color:blue;">
                <div class="menu_photo">
                    <img src="E:\aici\menufy\preafericitul_zeno.png" alt="This food photo" class="recipe_photo">
                </div>
                <div class="row">
                    <div class="row-height">
                        <div class="text-center">
                            <label for="Reteta">Reteta</label>
                            <div class="modifica">
                                <p>text random text random text random text random text random text random text random text random text random text random text random text random text random text random text random</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="background-color:green;">
                <div class="menu_photo">
                    <img src="E:\aici\menufy\preafericitul_zeno.png" alt="This food photo" class="recipe_photo">
                </div>
                <div class="row">
                    <div class="row-height">
                        <div class="text-center">
                            <label for="Reteta">Reteta</label>
                            <div class="modifica">
                                <p>text random text random text random text random text random text random text random text random text random text random text random text random text random text random text random</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <h3>Dinner</h3>
    <div class="Dinner">
           
            <div class="col-md-4" style="background-color:pink;">
                <div class="menu_photo">
                    <img src="E:\aici\menufy\preafericitul_zeno.png" alt="This food photo" class="recipe_photo">
                </div>
                <div class="row">
                    <div class="row-height">
                        <div class="text-center">
                            <label for="Reteta">Reteta</label>
                            <div class="modifica">
                                <p>text random text random text random text random text random text random text random text random text random text random text random text random text random text random text random</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="background-color:yellow;">
                <div class="menu_photo">
                    <img src="E:\aici\menufy\preafericitul_zeno.png" alt="This food photo" class="recipe_photo">
                </div>
                <div class="row">
                    <div class="row-height">
                        <div class="text-center">
                            <label for="Reteta">Reteta</label>
                            <div class="modifica">
                                <p>text random text random text random text random text random text random text random text random text random text random text random text random text random text random text random</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4" style="background-color:green;">
                <div class="menu_photo">
                    <img src="E:\aici\menufy\preafericitul_zeno.png" alt="This food photo" class="recipe_photo">
                </div>
                <div class="row">
                    <div class="row-height">
                        <div class="text-center">
                            <label for="Reteta">Reteta</label>
                            <div class="modifica">
                                <p>text random text random text random text random text random text random text random text random text random text random text random text random text random text random text random</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
