@model MenufyServer.Data.Recipe

@{
    ViewBag.Title = "title";

}
<head runat="server">
   <title>Recipe</title>
   <meta charset="utf-8"/>
   <meta name="viewport" content="width=device-width, initial-scale=1"/>
   <link rel="stylesheet" href="bootstrap.min.css"/>
   <link rel="stylesheet" href="Site.css"/>
   <script src="bootstrap.min.js"></script>
   <link rel="stylesheet" href="bootstrap-theme.min.css"/>
</head>

<body>

<div class="container-fluid">
    <h1>@Model.Title</h1>
    <div class="recipe_photo">
        <img src="@Model.PhotoUrl" alt="This food photo" class="recipe_photo">
    </div>
    <div class="col-md-12" style="background-color: pink;">
        <div class="row">
            <div class="row-height">
                <div class="text-center">
                    <label for="Incredients">Incredients</label>
                    <div class="modifica">
                        @foreach (var ingridient in Model.Ingredients)
                        {
                            <p>@ingridient</p>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-12" style="background-color: lightskyblue;">
        <div class="row">
            <div class="row-height">
                <div class="text-center">
                    <label for="PreparationSteps">Preparation Steps</label>
                    <div class="modifica">
                        @foreach (var step in Model.Steps)
                        {
                            <p>@step</p>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-12" style="background-color: palegreen;">
        <div class="row">
            <div class="row-height">
                <div class="text-center">
                    <label for="NutritionInformation">Nutrition Information</label>
                    <div class="modifica">
                        <p>text random text random text random text random text random text random text random text random text random text random text random text random text random text random text random</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>

</div>
</body>