
<h3>@ViewBag.Message</h3>
<h1>The Team!</h1>
<h3>Pirvu Doru</h3>
<p>programator adevarat,valcean adevarat!</p>
<h3>Catrina Marius</h3>
<p>Preot gras din popor care a binecuvantat aplicatia</p>
<h3>Berbecel Eliza</h3>
<p>Face pe sefa,prezinta pitch-ul</p>
<h3>Pirvu Doru</h3>
<p>Stand up comedy,Vintan level</p>