@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MENUFY</h1>
    <p class="lead">Un meniu generat pentru preferintele si nevoie dumneavoastra!</p>
    <p><a href="https://www.youtube.com/watch?v=isCdDutsrf4" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ma simt flamand,oare ce sa mananc?</h2>
        <p>
           In exclusivitate,doar pentru dumneavoastra va prezentam oferta noastra care consta in generarea unui meniu personalizat!
        </p>
        <p><a class="btn btn-default" href="http://ladycozac.ro/media/catalog/product/cache/1/thumbnail/0dc2d03fe217f8c83829496872af24a0/m/e/meniu_wedding_festival_3_.jpg">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cred ca sunt gras si as vrea sa am o greutate normala</h2>
        <p>Doar prin aplicatia noastra poti ajunge sa ai o alimentatie echilibrata si sanatoasa care pe viitor te va aduce constant la o greutate optima</p>
        <p><a class="btn btn-default" href="http://www.seven-health.com/wp-content/uploads/2012/07/This-Not-This-7-Health.jpeg">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Am o problema de sanatate din cauza unei nutritii dezechilibrate</h2>
        <p>Noi credem ca meniul dumneavoastra trebuie schimbat astfel incat sa va acopere nevoile de vitamine si minerale</p>
        <p><a class="btn btn-default" href="https://www.google.ro/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=0ahUKEwiiwvrYhbzLAhUIMZoKHbnoB7cQjBwIBA&url=http%3A%2F%2Fwww.spgenergy.com%2Fblog%2Fwp-content%2Fuploads%2F2014%2F05%2FWoman-With-Fridge-Door-Open.jpg&psig=AFQjCNFUHx7-UMfZJ4Jh_FFJSH2942xl0w&ust=1457902862841611">Learn more &raquo;</a></p>
    </div>
</div>